* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Sen', sans-serif;
}

:root {
    --primary-color: #58570E;
    --primary-color-liquid-glass: rgba(88, 87, 14, 0.5);
    --secondary-color: #efec99;
    --secondary-color-liquid-glass: rgba(239, 236, 153, 0.5);
    --terceary-color: #1c3462;
    --terceary-color-liquid-glass: rgba(28, 52, 98, 0.5);
    --cuerto-color: #8f956e;
    --cuerto-color-liquid-glass: rgba(143, 149, 110, 0.5);
    --quinto-color: #a5afc1;
    --quinto-color-liquid-glass: rgba(165, 175, 193, 0.966);
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navbar {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    border-radius: 45px;
    justify-content: space-around;
    align-items: center;

}

.navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}

.navbar-link {
    text-decoration: none;
    color: var(--terceary-color);
    font-size: 1rem;
}

.styled-button {
    position: relative;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--quinto-color);
    background: var(--terceary-color);
    border-radius: 30px;
    cursor: pointer;
    border: none;
    width: auto;
    text-decoration: none;
}

#interactive-map {
    display: flex;
    place-content: center center;
}

#map {
    width: 50%;
}

#map path {
    fill: var(--terceary-color);
    stroke: var(--secondary-color);
    stroke-width: 2px;
}

#map :hover {
    fill: var(--cuerto-color);
}